# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# data directory used by docker for MySQL
data/

# dev certs
tls/

# docker-compose env vars
.env
